/* General CSS for Site */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap')

:root {
    --primary-color: #252F33;
    --secondary-color: #415C4F;
    --accent1-color: #93C2CC;
    --accent2-color: #CEEAEE;

    --heading-font: 'Oswald', sans-serif;
    --paragraph-font: 'Source Sans 3', sans-serif;

    --nav-background-color: #252F33;
    --nav-link-color: #CEEAEE;
    --nav-hover-link-color: #93C2CC;
    --nav-hover-background-color: #415C4F;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h2 {
    text-align: center;
}

p {
    padding: 25px;
    color: var(--primary-color);
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

/*Header*/
header {
    padding: 20px;
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: 40% 60%;
}

.logo-box img {
    max-width: 80px;
    height: auto;
}

nav {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
    grid-column: 2/3;
    }

nav a {
    display: block;
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

/* Hero */
.hero {
    display: flex;
}

.hero h1 {
    position: absolute
    /* top
    background-color
    opacity
    text-align */
}

.hero img {
    position: relative;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    top: 50%;
    left: 50%;
    /* Right */
    background-color: rgb(255, 255, 255, 0.9);
}

.hero article img {
    float: right;
    width: 100px;
}

/* History Section */
.history {
    display: grid;
    grid-template-columns: 33% 34% 33% ;
    grid-template-rows: 30% 50%;
    justify-items: center;
    align-items: center;
}

.history h2 {
    order: 0;
    grid-column: 2/3;
}

.history p {
    order: 1;
    grid-column: 1/4;
}

/* Adventure Section */
.gallery {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-items: center;
    align-items: center;
}

.gallery img {
    max-width: 150px;
}

/* Footer */
footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer a img{
    max-width: 40px;
}

/* Last Updated 02/3/24 */