@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&family=Shadows+Into+Light&display=swap');

/* General CSS for Page */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2E343F;
    --secondary-color: #58B7D5;
    --accent-1: #4F5357;
    --accent-2: #f2f2f2;
    
    --heading-font: 'Shadows Into Light', cursive;
    --general-font: 'Nunito Sans', sans-serif;
}

body {
    font-family: var(--general-font);
    font-size: medium;
    color: var(--primary-color);
    background-color: white;
}

/* Header */
header {
    margin: auto;
    padding: 0.5rem;
    max-width: 600px;
}

h1 {
    font-family: var(--heading-font);
    font-size: 3em;
    font-weight: 100;
    color: var(--primary-color);
    text-align: center;
}

/* Form */
form {
    max-width: 500px;
    padding: 0.5rem;
    border: 3px solid var(--primary-color);
    border-radius: 0.5rem;
    background-color: var(--accent-2);
    display: grid;
}

fieldset {
    border: none;
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    padding: 1rem;
}

.form-item {
    margin: 0;
    padding: 0.5rem;
    display: grid;
    align-items: center;
}

input, select, textarea {
    width: 100%;
    padding: 0.5rem;
}

.form-item label {
    margin: 0;
}

.form-item label b {
    font-weight: 900;
    font-size: large;
}

button {
    margin: 0.5rem;
    background-color: var(--primary-color);
    color: var(--accent-2);
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: large;
}

button:hover {
    background-color: var(--secondary-color);
}

/* Footer */
footer {
    margin: 1rem auto 0;
    text-align: center;
    font-size: small;
    color: var(--accent-1);
}

/* Last Edited 02/08/2024 */